[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
python-dotenv = "*"
flask-pymongo = "*"
pydantic = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pyodbc = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
